.active {
  text-decoration: none;
  border: 2px solid;
  border-radius: 1%;
}

input.unique-class[type="checkbox"] {
  width: 55px;
  height: 25px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.card-spl-text {
  background: rgb(5, 59, 80);
  background: linear-gradient(
    156deg,
    rgba(5, 59, 80, 1) 33%,
    rgba(23, 107, 135, 1) 66%,
    rgba(100, 204, 197, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.card-spl:hover {
  background: rgb(5, 59, 80);
  background: linear-gradient(
    156deg,
    rgba(5, 59, 80, 1) 33%,
    rgba(23, 107, 135, 1) 66%,
    rgba(100, 204, 197, 1) 100%
  );;
}


